{% extends "main.html" %}{% block main %}
<section id="next_maintenance">
  <h3>Próximos</h3>
  <div id="next_maintenance_list">
    <!-- aqui vai ser adicionado pelo banco de dados -->

    {% for product in productsByMaintenance %}
    <div
      class="product pointer hover-shadow"
      onclick="openOrClose(update, 'flex', selectForUpdate({{product.id}}))"
    >
      <strong class="name">{{product.name}}</strong>
      <p class="company">{{product.company}}</p>
      <div class="date">
        <p>Manutenção: <span>{{product.maintenance}}</span></p>
      </div>
    </div>
    {% endfor %}

    <!-- -->
  </div>
</section>
<section id="registered">
  <h3>Lista de Máquinas Cadastradas</h3>
  <div id="registered_list">
    <!-- aqui vai ser adicionado pelo banco de dados -->

    <ul>
      {% for product in products %}
      <li
        class="hover-white pointer"
        onclick="openOrClose(update, 'flex', selectForUpdate({{product.id}}))"
      >
        <strong class="name">{{ product.name }}</strong>
        <p class="company">{{ product.company }}</p>
      </li>
      {% endfor %}
    </ul>

    <!--  -->
  </div>
</section>
{% endblock %}
