{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Projeto PI</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>

  <body>
    <aside id="aside">
      <div id="logo">
        <img
          src="/static/images/logo.png"
          alt="aqui vai ter uma logo papai"
          style="width: 10rem"
        />
      </div>
      <hr />
      <nav id="navbar">
        <a href="/dashboard" class="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-bar-chart-big"
          >
            <path d="M3 3v18h18" />
            <rect width="4" height="7" x="7" y="10" rx="1" />
            <rect width="4" height="12" x="15" y="5" rx="1" />
          </svg>
          Dashboard
        </a>
        <a href="/register" class="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-notebook-pen"
          >
            <path
              d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"
            />
            <path d="M2 6h4" />
            <path d="M2 10h4" />
            <path d="M2 14h4" />
            <path d="M2 18h4" />
            <path d="M18.4 2.6a2.17 2.17 0 0 1 3 3L16 11l-4 1 1-4Z" />
          </svg>
          Registro de<br />
          Equipamentos
        </a>
        <a class="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-calendar-days"
          >
            <path d="M8 2v4" />
            <path d="M16 2v4" />
            <rect width="18" height="18" x="3" y="4" rx="2" />
            <path d="M3 10h18" />
            <path d="M8 14h.01" />
            <path d="M12 14h.01" />
            <path d="M16 14h.01" />
            <path d="M8 18h.01" />
            <path d="M12 18h.01" />
            <path d="M16 18h.01" />
          </svg>
          Calendario
        </a>
      </nav>
    </aside>
    <div id="responsive_menu" onclick="openOrClose(sidebar, 'block')">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-menu"
      >
        <line x1="4" x2="20" y1="12" y2="12" />
        <line x1="4" x2="20" y1="6" y2="6" />
        <line x1="4" x2="20" y1="18" y2="18" />
      </svg>
    </div>
    <div id="update">
      <button
        class="exit radius-top"
        onclick="openOrClose(update, 'flex', selectForUpdateClear())"
      >
        X
      </button>
      <div>{% include "update.html" %}</div>
    </div>
    <div id="workspace">
      <header>
        <div id="title">
          <h1>{{page}}</h1>
        </div>
        <div id="config">
          <button style="color: #d4d4d8; border: none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-settings"
            >
              <path
                d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
              />
              <circle cx="12" cy="12" r="3" />
            </svg>
          </button>
          <button style="background-color: #d4d4d8; color: #09090b">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-user"
            >
              <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
              <circle cx="12" cy="7" r="4" />
            </svg>
          </button>
        </div>
      </header>
      <main>{% block main %}{% endblock main %}</main>
    </div>
  </body>
  <script>
    const sidebar = document.querySelector("#aside");
    const update = document.querySelector("#update");

    const product_id = document.querySelector("#product_id");
    const update_name = document.querySelector("#update_name");
    const update_company = document.querySelector("#update_company");
    const update_cnpj = document.querySelector("#update_cnpj");
    const update_headquarters = document.querySelector("#update_headquarters");
    const update_email = document.querySelector("#update_email");
    const update_tel = document.querySelector("#update_tel");
    const update_tel2 = document.querySelector("#update_tel2");
    const update_maintenance = document.querySelector("#update_maintenece");
    const update_branch = document.getElementsByName("branch");
    const set_update_branch = (boolean) => {
      boolean
        ? (update_branch[0].checked = true)
        : (update_branch[1].checked = true);
    };

    const product_update = document.querySelector("#product_update");
    const product_delete = document.querySelector("#product_delete");

    function selectForUpdate(uuid) {
      //consulta ao db
      const url = "/v1/product/" + uuid;
      fetch(url)
        .then((response) => response.json())
        .then((result) => {
          product_id.value = uuid;
          update_name.value = result.name;
          update_company.value = result.company;
          update_cnpj.value = result.cnpj || "";
          update_headquarter.value = result.headquarter || "";
          update_email.value = result.email || "";
          update_tel.value = result.tel || "";
          update_tel2.value = result.tel2 || "";
          update_maintenance.value = result.maintenance || "";
          set_update_branch(result.branch);
        })
        .catch((error) => console.error("Ocorreu um erro:", error));
    }

    function selectForUpdateClear() {
      product_id.value = "";
      update_name.value = "";
      update_company.value = "";
      update_cnpj.value = "";
      update_headquarter.value = "";
      update_email.value = "";
      update_tel.value = "";
      update_tel2.value = "";
      update_maintenance.value = "";
      set_update_branch(false);
    }

    function openOrClose(HTMLElement, defaltDisplay, callback = undefined) {
      const state = getComputedStyle(HTMLElement).display;
      if (state == "none") {
        if (callback) callback();
        return (HTMLElement.style.display = defaltDisplay);
      }

      if (state == "block" || state == "flex")
        return (HTMLElement.style.display = "none");
    }

    product_update.addEventListener("click", function (event) {
      event.preventDefault();
      const uuid = product_id.value;

      const formData = new FormData();
      formData.append("name", update_name.value);
      formData.append("company", update_company.value);
      formData.append("cnpj", update_cnpj.value);
      formData.append("headquarter", update_headquarter.value);
      formData.append("email", update_email.value);
      formData.append("tel", update_tel.value);
      formData.append("tel2", update_tel2.value);
      formData.append("branch", update_branch[0].checked);
      formData.append("maintenance", update_maintenance.value);
      console.log(formData);

      fetch("/v1/product/" + uuid, {
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((result) => {
          alert(result.msg || result.error);
          location.reload();
        });
    });

    product_delete.addEventListener("click", function (event) {
      event.preventDefault();
      const uuid = product_id.value;
      const autorization = confirm(
        "tem certeza que quer deletar este cadastro?"
      );
      if (autorization) {
        fetch("/v1/product/" + uuid, { method: "DELETE" })
          .then((response) => response.json())
          .then((result) => {
            alert(result.msg || result.error);
            location.reload();
          });
      }
    });
  </script>
</html>
